@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(129, 129, 129);
}

header>p{
    margin: 5px;
    font-family: "Advent Pro", sans-serif;
    font-size: 20px;
}

header>p>a{
    display: block;
    font-family: "Advent Pro", sans-serif;
    text-decoration: none;
    color: black;
}

header>p>img{
    width: 100px;
    height: 130px;
    margin-right: 70px;
}

body{
    background-color: rgb(230, 230, 230);
}

nav {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 4vh;
    background-color: rgb(151, 151, 151);    
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.281);
}

nav > a{
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 4px;
    margin-left: 20px;
    margin-bottom: 4px;
}

.btmenu:hover {
    border: 0.5px solid rgba(255, 255, 255, 0.582);
    transform: translate(-0.2px, -0.2px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
    transition: transform 0.1s;
}   

main {
    display: block;
    margin: 15px;
    background-color: white;
    width: 50vw;
    height: 60vh;
    position: relative;
    left: 25%;
    border: 0.5px solid rgba(0, 0, 0, 0.281);
}

footer{
    margin-top: 80px;
    width: 50vw;
    position: relative;
    left: 43%;
    font-size: 12px;
}

iframe#tela{
    width: 50vw;
    height: 60vh;
    border: none;
    overflow: hidden;
    scrollbar-width: none;
}

footer>p>a{
    text-decoration: none;
    color: black;
}